
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
data/
media/
uploads/

# Logs
*.log

# Docker
Dockerfile.prod
.dockerignore

# Notebooks
.ipynb_checkpoints/

# Build artifacts
dist/
build/
*.egg-info/

# Environment variables
.env
